%footer
  .container
    .row
      .span12
        .row
          .span7
            - if controller.controller_name == 'home'
              %h4
                Galleries
              %div.btn-toolbar
                - OrganizedGalleries.organization.each do |og|
                  %div.btn-group.dropup
                    %button.btn.btn-large.btn-inverse.dropdown-toggle
                      = og.first
                      %span.caret
                    %ul.dropdown-menu
                      - og.last.each do |g|
                        %li
                          = link_to(g.name, gallery_path(g))

          .span5.pull-right
            %p= (@gallery && @gallery.description.present?) ? @gallery.description : photographer.description
    :javascript
      //Add Hover effect to menus
      jQuery('button.btn.dropdown-toggle').hover(function() {
        jQuery(this).parent().find('.dropdown-menu').stop(true, true).delay(100).fadeIn(100);
      }, function() {
        jQuery(this).parent().find('.dropdown-menu').stop(true, true).delay(100).fadeOut(100);
      });
      jQuery('ul.dropdown-menu').hover(function() {
        jQuery(this).stop(true, true).delay(100).fadeIn(100);
      }, function() {
        jQuery(this).stop(true, true).delay(100).fadeOut(100);
      });

  #footer-floor
    .container
      .row
        .span12
          %h4
            - unless photographer.phone.blank?
              = photographer.phone
              \/
            = mail_to(photographer.email)
            \/
            = mail_to('brad@illuminatedglass.com')
          %p= "&copy; #{Time.now.year}, #{photographer.name}, All Rights Reserved".html_safe

- unless photographer.google_analytics_key.blank?
  = render :partial => 'shared/google_analytics', :locals => {:key => photographer.google_analytics_key}
