%footer
  .container
    .row
      .span12
        .row
          - unless controller.controller_name == 'home'
            - galleries.each_slice((galleries.length/2.0).ceil).with_index do |gallery_slice, i|
              .span3
                %h4= (i == 0 ? 'Galleries' : '&nbsp;').html_safe
                %ul.unstyled
                  - gallery_slice.each do |gallery|
                    %li= link_to(truncate(gallery.name, :length => 32), gallery_path(gallery), :title => gallery.name)
          -# .span2
          -#   %h4 Company Info
          -#   %ul.unstyled
          -#     - pages.each do |page|
          -#       %li= link_to(truncate(page.name, :length => 32), page_path(page))
          -#     %li= link_to('Contact', new_contact_request_path)
          -# .span3
          -#   - if photographer.blog_url.blank?
          -#     %h4 Recent Posts
          -#     %ul.unstyled
          -#       - recent_posts.each do |post|
          -#         %li= link_to(truncate(post.title, :length => 32), post_path(post))

          .span5.pull-right
            %p= (@gallery && !@gallery.description.blank?) ? @gallery.description : photographer.description
  #footer-floor
    .container
      .row
        .span12
          %h4
            - unless photographer.phone.blank?
              = enkode(photographer.phone)
              \/
            = enkode_mail(photographer.email, photographer.email)
          %p= "&copy; #{Time.now.year}, #{photographer.name}, All Rights Reserved".html_safe

- unless photographer.google_analytics_key.blank?
  = render :partial => 'shared/google_analytics', :locals => {:key => photographer.google_analytics_key}
