.jumbotron.masthead
  .inner
    %h1= photographer.name
    %p= photographer.tagline
.row
  .span3.mininav
    .navbar
      .navbar-inner
        %ul.nav
          - OrganizedGalleries.organization.each do |og|
            %li.dropdown
              %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
                = og.first
                %b.caret
              %ul.dropdown-menu
                - og.last.each do |g|
                  %li
                    = link_to(g.name, gallery_path(g))
:javascript
  //Add Hover effect to menus
  jQuery('ul.nav li.dropdown').hover(function() {
    jQuery(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(100);
  }, function() {
    jQuery(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(100);
  });

.row
  .span12
    #carousel.carousel
      .carousel-inner
        - galleries.shuffle.each_with_index do |gallery, idx|
          %div{ :class => "item#{' active' if idx == 0}" }
            = link_to(image_tag(gallery.cover.thumb('940x500').url, :class => 'thumbnail'), gallery_path(gallery))
