!!!
%html{ 'class' => 'no-js', :lang => 'en' }
  %head
    %title= "#{yield(:meta_title).presence || yield(:page_title).presence || 'Home'}  | #{photographer.name} Administration"
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ :class => "#{yield(:body_class).presence}" }
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            - is_main_active = false
            - galleries.slice(0, 5).each do |gallery|
              - maybe_active = (defined?(@gallery) and @gallery.id == gallery.id ? 'active' : '')
              - is_main_active ||= (maybe_active == 'active')
              %li{ :class => maybe_active }= link_to(gallery.name, gallery_path(gallery))
            - if galleries.length > 0
              %li.dropdown{ :class => (is_main_active ? '' : 'active') }
                %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
                  More
                  %b.caret
                %ul.dropdown-menu
                  - galleries.slice(5,galleries.length).each do |gallery|
                    %li{ :class => (defined?(@gallery) and @gallery.id == gallery.id ? 'active' : '') }= link_to(truncate(gallery.name, :length => 32), gallery_path(gallery))
            -# - pages.each do |page|
            -#   %li{ :class => (defined?(@page) and @page.id == page.id ? 'active' : '') }= link_to(page.name, page_path(page))
            -# %li{ :class => controller.controller_name == 'posts' ? 'active' : '' }= link_to('Blog', photographer.blog_url.blank? ? posts_path : photographer.blog_url)
            -# %li.divider-vertical
            -# %li{ :class => controller.controller_name == 'contact_requests' ? 'active' : '' }= link_to('Contact', new_contact_request_path)
          .pull-right= link_to(photographer.name, root_path, :class => 'brand')
    .container
      - if notice
        .alert.alert-block{ :'data-dismiss' => 'alert' }
          %a.close ×
          %p= notice
      - if content_for?(:title)
        .page-header
          %h1= yield(:title)
          - if content_for?(:subtitle)
            %p.subtitle= yield(:subtitle)
      .row.content
        - if content_for?(:sidebar)
          .span3
            .well
              = yield(:sidebar)
              %p &nbsp;
              %p &nbsp;
          .span9= yield
        - else
          .span12= yield
    = render :partial => 'shared/footer'
