!!!
%html{ 'class' => 'no-js', :lang => 'en' }
  %head
    %title= "#{yield(:meta_title).presence || yield(:page_title).presence || 'Home'}  | #{photographer.name}"
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:rel=>"shortcut icon", :href=>"/assets/favicon.ico", :type=>"image/x-icon"}
  %body{ :class => "#{yield(:body_class).presence}" }
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            - OrganizedGalleries.organization.each do |og|
              %li.dropdown
                %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
                  = og.first
                  %b.caret
                %ul.dropdown-menu
                  - og.last.each do |g|
                    %li
                      = link_to(g.name, gallery_path(g))

          .pull-right= link_to(photographer.name, root_path, :class => 'brand')
    :javascript
      //Add Hover effect to menus
      jQuery('ul.nav li.dropdown').hover(function() {
        jQuery(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(100);
      }, function() {
        jQuery(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(100);
      });
    .container
      - if notice
        .alert.alert-block{ :'data-dismiss' => 'alert' }
          %a.close ×
          %p= notice
      - if content_for?(:title)
        .page-header
          %h1= yield(:title)
          - if content_for?(:subtitle)
            %p.subtitle= yield(:subtitle)
      .row.content
        - if content_for?(:sidebar)
          .span3
            .well
              = yield(:sidebar)
              %p &nbsp;
              %p &nbsp;
          .span9= yield
        - else
          .span12= yield
    = render :partial => 'shared/footer'
